*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./img/banner.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
nav img{
    width: 140px;
    cursor: pointer;
    filter: drop-shadow(0px 5px 5px);
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 40px;
    font-style:italic;
    font-size: large;
    
   
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
   filter: drop-shadow(0px 5px 9px);
}
.Register-btn{
    background-color: rgb(106, 201, 137);
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    display: block;
    border-radius: 8%;
    font-size: 100%;
    font-style: italic;
    text-decoration: none;
    filter: drop-shadow(2px 1px 10px);


    

}
.content{
    padding: 4%;

}
.content h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 10%;
    font-style:oblique;
}
.info-box{
    background:#fff;
    width: 80%;
    margin: 20px auto;
    padding: 5px 30px 2px ;
    border-radius: 30px;
   
}
.info-box form{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.info-box form input{
    display: block;
    font-weight: 600;
    outline: none;
    border: 0;
    background: transparent;
    
}
.info-box form button{
    background-color: #ff5361;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;

}.info-box form button img{
    width: 15px;
    margin-top: 6px;
}
.location-info{
    font-style: oblique;

}
.sub-title{
    margin: 30px 0 20px;
    font-weight: 600;
    color:rgb(0, 0, 0);
    font-style: oblique;
    filter: drop-shadow(0px 1px 1px);

}
.sub-title{
    position: relative;
}
.sub-title::after{
    content:'';
    background: rgb(0, 0, 0);
    width: 100px;
    height:2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}
.Exclusives{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    font-style:oblique;
    filter:drop-shadow(0 1px 1px);
    font-size: smaller;
    padding: 40px;
}
.Exclusives div img{
    width: 100%;
    border-radius: 20px;
 
}
.Exclusives div span{
    position: relative;
    top: 5%;
    left: 16%;
    color:#000;
}

/*-----------------------Trending places-------------------------*/

.Trending{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
    padding: 30px;
}
.Trending div img{
    width: 100%;
    border-radius: 10%;
    padding: 20px;
}
.Trending h3{
    font-weight: 600;
    margin-top: 1px;
    margin-left: 10%;
    filter:drop-shadow(0 2px 2px);
    font-size:medium;
    
}
.sub-title{
        padding: 20px;
        text-align: center;
}
/*------------------------------call to action in 3page-----------*/
.cta{
    margin: 80px;
    background-image: linear-gradient(to right, #3f2321, transparent),url(./img/banner-2.png);
    background-size: cover;
    background-position: center;
    padding: 5%;
    font-style:italic;
    border-radius: 10px;
    color: #fff;
}
.cta h3{
    font-size: 3rem;
    line-height: 50px;
}
.cta p{
    font-size: 17px;
    margin: 10px 0px;
}
.cta-btn{
    background:#ff5361;
    color:#fff;
    text-decoration: none;
    padding: 12px 30px ;
    border-radius: 8px;
    margin-bottom: 30px;
    display: inline-block;
}
/*-----------------Traveller story---------------------*/
.story{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
    padding: 30px;
}
.story div img{
    width: 100%;
    border-radius: 10px;
}
.story div{
    position: relative;
    text-align: center;
}
.story div p{
    position: relative;
    top: 5%;
    left: 2%;
    color:#000; 
    line-height: 20px;
}
.story div p{
    filter:drop-shadow(0 1px 1px);
    font-weight: 300;
    padding: 10px;
    display: block;
    display: inline-block;
    font-size:smaller;
}
.start-btn{
    text-decoration: none;
    background:#ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    font-style: oblique;
}
/*------------------about us---------------------*/
.about-msg{
    text-align: center;
    margin: 60px 0;
    color: #333;
    font-size: 17px;
    padding: 20px;
}
.about-msg h4{
    content: '';
    initial-letter: 10px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    font-style: oblique;
    
}
.about-msg h4::after{
    content:'';
    background: rgb(255, 0, 0);
    width: 100px;
    height:2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}
.about-msg p{
    font-style: oblique;
    font-size: 18px;
    line-height: 30px;
    
}
/*-----------------footer-------------------------*/
.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;

}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
    font-style: normal;
    font-weight: 600px;
}
.footer hr p{
    padding-bottom: 10px;
}
.active{
    position: relative;
}
.active::after{
    content:'';
    background: #fff;
    width: 25px;
    height:2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;

}
